/* Albert Einstein's styles */

#einstein {
  background-image: url('../images/einstein_serious.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 1px 1px #000;
  transition: .2s;
}

#einstein:hover {
  background-image: url('../images/einstein_smile.jpg');
  color: #ff00f7;
  text-shadow: 2px 2px #fff;
  outline: 10px solid orange;
  box-shadow: 18px 18px 10px #000;
  animation: bounce .6s infinite ease;
}


#aziz {
  background-image: url('https://media.giphy.com/media/3oz8xUFUB65tXgvHwI/giphy.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 1px 1px #000;
  transition: .2s;
}

#aziz:hover {
  background-image: url('https://media.giphy.com/media/K6VhXtbgCXqQU/giphy.gif');
  color: #ff00f7;
  text-shadow: 2px 2px #fff;
  outline: 10px solid orange;
  box-shadow: 18px 18px 10px #000;
  animation: bounce .6s infinite ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
    outline-color: orange;
  }

  50% {
    transform: translateY(40px);
    outline-color: #fae231;
  }
}



/* Place your styles below this line */

#patience{
  background-image: url('http://68.media.tumblr.com/3335d94768854c5a97a57eb7fed94ed2/tumblr_ory9abu2Jk1sy8x5ho2_540.gif');
  background-repeat: no-repeat;
  background-position: center;
}